<section class="content">
  <div class="container">
    <div class="ic">More Website Templates @ TemplateMonster.com - May 05, 2014!</div>
    <div class="row">
      <div class="grid_12">
        <div class="map">
          <figure>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24214.807650104907!2d-73.94846048422478!3d40.65521573400813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1395650655094" style="border:0"></iframe>
          </figure>
        </div>
      </div>
      <div class="clear"></div>
      <div class="grid_5">
        <h3>Contact Info</h3>
        <p>24/7 support is on for all <span class="color1"><a href="http://www.templatemonster.com/website-templates.php" rel="nofollow">premium designs</a></span> of TemplateMonster. Free templates go without it.</p>
        <p>Need help in customization? Ask guys from <span class="color1"><a href="http://www.templatetuning.com/" rel="nofollow">TemplateTuning</a></span>.</p>
        The Company Name Inc. <br>
        9870 St Vincent Place,<br>
        Glasgow, DC 45 Fr 45.<br>
        Telephone: +1 800 603 6035<br>
        FAX: +1 800 889 9898<br>
        E-mail: <a href="#">mail@demolink.org</a>
      </div>
      <div class="grid_6 preffix_1">
        <h3>Contact Form</h3>
        <form id="form" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
          <div class="success_wrapper">
            <div class="success-message">Contact form submitted</div>
          </div>
          <label class="name">
            <input type="text" placeholder="Name:" data-constraints="@Required @JustLetters" formControlName="name" />
            <span class="empty-message">*This field is required.</span>
            <span class="error-message">*This is not a valid name.</span>
          </label>
          <label class="email">
            <input type="text" placeholder="E-mail:" data-constraints="@Required @Email" formControlName="email" />
            <span class="empty-message">*This field is required.</span>
            <span class="error-message">*This is not a valid email.</span>
          </label>
          <label class="phone">
            <input type="text" placeholder="Phone:" data-constraints="@Required @JustNumbers" formControlName="phone" />
            <span class="empty-message">*This field is required.</span>
            <span class="error-message">*This is not a valid phone.</span>
          </label>
          <label class="message">
            <textarea placeholder="Message:" data-constraints='@Required @Length(min=20,max=999999)' formControlName="message"></textarea>
            <span class="empty-message">*This field is required.</span>
            <span class="error-message">*The message is too short.</span>
          </label>
          <div>
            <div class="clear"></div>
            <!--<div class="btns">
              <a href="#" data-type="reset" class="btn bt__2">Clear</a>
              <a href="#" data-type="submit" class="btn bt__2">Submit</a>
            </div>-->
            <div class="btns">
              <input type="submit"  value="Submit" [disabled]="!contactForm.valid" />
              <br/>
              <input type="button" value="Clear" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
