<!doctype html>
<html lang="en">
<head>
</head>
<body class="page1" id="top">
  <header>
    <!--==============================header=================================-->
    <div id="stuck_container">
      <div class="container">
        <div class="row">
          <div class="grid_12">
            <h1>
              <a href="index.html">
                <img src="../assets/images/logo.png" alt="Your Happy Family">
              </a>
            </h1>
            <div class="menu_block">
              <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                <ul class="sf-menu">
                  <li>
                    <a href="/home">Home</a>
                  </li>
                  <li>
                    <a routerLink="/about" routerLinkActive="current">About</a>
                  </li>
                  <li><a routerLink="" routerLinkActive="current">Portfolio</a></li>
                  <li><a routerLink="" routerLinkActive="current">Gallery</a></li>
                  <li><a routerLink="" routerLinkActive="current">Blog</a></li>
                  <li>
                    <a routerLink="/contact" routerLinkActive="current">Contact Us</a>
                  </li>
                </ul>
              </nav>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="main">
    <router-outlet></router-outlet>
  </div>

  <!--==============================footer=================================-->
  <footer>
    <div class="container">
      <div class="row">
        <div class="grid_12">
          <div class="footer_socials">
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-google-plus"></a>
            <a href="#" class="fa fa-pinterest"></a>
          </div>
          <div class="copy">
            <span class="brand">JD Studio</span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
            <div class="sub_copy">
              Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">SRKSoft</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>



