<div class="slider_wrapper">
  <div id="camera_wrap" class="">
    <div data-src="../../assets/images/slide.jpg">
      <div class="caption fadeIn">
        <div class="title">Love</div>
        <p>In mollis erat mattis neque facilisis, sit amet ultricies erat rutrumras  facilisis nulla vel viverra auctor, leo magna sodales felis, quis malesuada ibh odio ut velit. Proin pharetra luctus diam, a scelerisque eros convallis</p>
        <p>Vivamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a,mmodo luctus libero. Praesent faucibus malesu</p>
        <a href="#">Learn More</a>
      </div>
    </div>
    <div data-src="../../assets/images/slide1.jpg">
      <div class="caption fadeIn">
        <div class="title">Nude Art</div>
        <p>In mollis erat mattis neque facilisis, sit amet ultricies erat rutrumras  facilisis nulla vel viverra auctor, leo magna sodales felis, quis malesuada ibh odio ut velit. Proin pharetra luctus diam, a scelerisque eros convallis</p>
        <p>Vivamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a,mmodo luctus libero. Praesent faucibus malesu</p>
        <a href="#">Learn More</a>
      </div>
    </div>
    <div data-src="../../assets/images/slide2.jpg">
      <div class="caption fadeIn">
        <div class="title">In Motion</div>
        <p>In mollis erat mattis neque facilisis, sit amet ultricies erat rutrumras  facilisis nulla vel viverra auctor, leo magna sodales felis, quis malesuada ibh odio ut velit. Proin pharetra luctus diam, a scelerisque eros convallis</p>
        <p>Vivamus at magna non nunc tristique rhoncus. Aliquam nibh ante, egestas id dictum a,mmodo luctus libero. Praesent faucibus malesu</p>
        <a href="#">Learn More</a>
      </div>
    </div>
  </div>
</div>
<!--=====================Content======================-->
<div class="block1">
  <div class="container">
    <div class="row">
      <div class="grid_12">
        <div class="rel">
          <p>
            Hi! I’m Katrine Dove. Photography is a passion of mine. Let me use my talent & professionalism to capture the precious moments of your life.
          </p>
          <a href="#" class="btn bt__1">Hire Me</a>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="content">
  <div class="container">
    <div class="ic">More Website Templates @ TemplateMonster.com - May 05, 2014!</div>
    <div class="row">
      <div class="grid_12">
        <h2>Portfolio</h2>
        <div class="gallery">
          <div class="row">
            <div class="grid_4">
              <a href="../../assets/images/big1.jpg" class="gal_item">
                <img src="../../assets/images/page1_img1.jpg" alt="">
                <div class="gal_caption">People</div>
                <span class="gal_magnify"></span>
              </a>
            </div>
            <div class="grid_4">
              <a href="../../assets/images/big2.jpg" class="gal_item">
                <img src="../../assets/images/page1_img2.jpg" alt="">
                <div class="gal_caption">Fashion</div>
                <span class="gal_magnify"></span>
              </a>
            </div>
            <div class="grid_4">
              <a href="../../assets/images/big3.jpg" class="gal_item">
                <img src="../../assets/images/page1_img3.jpg" alt="">
                <div class="gal_caption">Wedding</div>
                <span class="gal_magnify"></span>
              </a>
            </div>
            <div class="grid_4">
              <a href="../../assets/images/big4.jpg" class="gal_item">
                <img src="../../assets/images/page1_img4.jpg" alt="">
                <div class="gal_caption">Interior</div>
                <span class="gal_magnify"></span>
              </a>
            </div>
            <div class="grid_4">
              <a href="../../assets/images/big5.jpg" class="gal_item">
                <img src="../../assets/images/page1_img5.jpg" alt="">
                <div class="gal_caption">Animals</div>
                <span class="gal_magnify"></span>
              </a>
            </div>
            <div class="grid_4">
              <a href="../../assets/images/big6.jpg" class="gal_item">
                <img src="../../assets/images/page1_img6.jpg" alt="">
                <div class="gal_caption">Nature</div>
                <span class="gal_magnify"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="grid_4">
        <h3 class="mb__0">Equipment</h3>
        <div class="block2">
          <div class="block2_title color1">Camera</div>
          <ul class="list">
            <li><a href="#">Lorem ipsum dolorertolo </a></li>
            <li><a href="#">Git met consecteturert </a></li>
            <li><a href="#">Odipiscing elit mollis erat</a></li>
          </ul>
        </div>
        <div class="block2">
          <div class="block2_title color1">Lighting</div>
          <ul class="list">
            <li><a href="#">Lorem ipsum dolorilomo </a></li>
            <li><a href="#">Aconsectetur teroloter </a></li>
            <li><a href="#">Sdipiscing elitmollis erat </a></li>
          </ul>
        </div>
      </div>
      <div class="grid_4">
        <h3>About me</h3>
        <p>Need more information about this thingummy? Follow the <span class="color1"><a href="http://blog.templatemonster.com/free-website-templates/" rel="nofollow">link</a></span>.</p>
        <p>Choose <span class="color1"><a href="http://www.templatemonster.com/properties/topic/design-photography/" rel="nofollow">designs</a></span> of this kind at TemplateMonster’s website.</p>
        Cras facilisis, nulla vel viverra auctor, leo magna sodales felis, quis malesuada nibh odio ut velit. Proin pharetra luctus diam, a scelerisque eros convallis accumsanInteger convallis orci vel mi laoreet, at ornare lorem consequatasellus erat nisl<br>
        <a href="#" class="btn bt__2">Read More</a>
      </div>
      <div class="grid_4">
        <h3>Publications</h3>
        <ul class="list1">
          <li>
            <div class="list_count">1</div>
            <div class="extra_wrapper">
              <div class="list1_title color2"><a href="#">“Lorem ipsum dolor sit met </a></div>In mollis erat mattis neque facilisis, sit amet ultricies erat rutrumras
              <a href="#" class="color1 td_und">More</a>
            </div>
          </li>
          <li>
            <div class="list_count">2</div>
            <div class="extra_wrapper">
              <div class="list1_title color2"><a href="#">“Dorem ipsum dolor sit met </a></div>In mollis erat mattis neque facilisis, sit amet ultricies erat rutrumras
              <a href="#" class="color1 td_und">More</a>
            </div>
          </li>
          <li>
            <div class="list_count">3</div>
            <div class="extra_wrapper">
              <div class="list1_title color2"><a href="#">“Kerem ipsum dolor sit met </a></div>In mollis erat mattis neque facilisis, sit amet ultricies erat rutrumras
              <a href="#" class="color1 td_und">More</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="grid_12">
        <h3 class="head1">Multimedia</h3>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div id="owl">
    <div class="item"><img src="../../assets/images/car_img1.jpg" alt=""></div>
    <div class="item"><img src="../../assets/images/car_img2.jpg" alt=""></div>
    <div class="item"><img src="../../assets/images/car_img3.jpg" alt=""></div>
    <div class="item"><img src="../../assets/images/car_img4.jpg" alt=""></div>
    <div class="item"><img src="../../assets/images/car_img5.jpg" alt=""></div>
    <div class="item"><img src="../../assets/images/car_img6.jpg" alt=""></div>
    <div class="item"><img src="../../assets/images/car_img7.jpg" alt=""></div>
    <div class="item"><img src="../../assets/images/car_img1.jpg" alt=""></div>
    <div class="item"><img src="../../assets/images/car_img2.jpg" alt=""></div>
    <div class="item"><img src="../../assets/images/car_img3.jpg" alt=""></div>
    <div class="item"><img src="../../assets/images/car_img4.jpg" alt=""></div>
    <div class="item"><img src="../../assets/images/car_img5.jpg" alt=""></div>
    <div class="item"><img src="../../assets/images/car_img6.jpg" alt=""></div>
    <div class="item"><img src="../../assets/images/car_img7.jpg" alt=""></div>
  </div>
</section>
<!--==============================Bot_block=================================-->
<section class="bottom_block">
  <div class="container">
    <div class="row">
      <div class="grid_5">
        <div class="bot_title">
          <span class="fa fa-envelope-o"></span>Subscribe to My Newsletter
        </div>
      </div>
      <div class="grid_7">
        <form id="newsletter" [formGroup]="newsletterForm" (ngSubmit)="onSubmit(newsletterForm.value)">
          <div class="row">
            <div class="grid_4">
              <div class="rel">
                <div class="success">Your subscrsibe request has been sent!</div>
                <label class="email">
                  <input type="email" value="Your Email Address Here" formControlName="email">
                  <span class="clear"></span>
                </label>
              </div>
            </div>
            <div class="grid_3">
              <input type="submit"  value="Submit" [disabled]="!newsletterForm.valid" >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
